.description{
  width: 600px;
  font-family: var(--sf-pro-display);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--gray-600);
  text-align: left;
}

.role {
  text-transform: uppercase;
  font-family: var(--sf-pro-display);
  color: var(--gray-600);
  font-weight: 700;
  font-size: 1.1rem;
  height: max-content;
}

.people{
  font-family: var(--sf-pro-display);
  color: var(--gray-500);
  font-weight: 300;
  font-size: 1.1rem;
  height: max-content;
  margin-left: 15px;
}

.list {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listItem {
  margin-top: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.peopleList {
  width: 300px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}