.title {
  font-family: var(--sf-pro-display);
  font-size: 8rem;
  font-weight: 700;
  /* color: var(--gray-600); */
  text-transform: uppercase;
  background: -webkit-linear-gradient(var(--title-blue), var(--title-white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-family: var(--sf-pro-display);
  font-size: 1.8rem;
  font-weight: 400;

  width: 400px;
  text-align: center;
  background: -webkit-linear-gradient(var(--text-gray-dark), var(--text-gray-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle span {
  font-weight: 500;
}