.title {
  font-family: var(--sf-pro-display);
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-600);
  text-transform: uppercase;
}

.text {
  font-family: var(--sf-pro-text);
  font-size: 1em;
  font-weight: 300;
  color: var(--gray-600);
  width: 600px;
  margin-top: 0.5rem;
}

.image {
  width: 600px;
  height: auto;
  object-fit: contain;
}